In [13]:
#ETL Project
#Potato Price per month
#Data from https://data.bls.gov/timeseries/APU0000712112?amp%253bdata_tool=XGtable&output_view=data&include_graphs=true

In [14]:
#import Dependencies
import pandas as pd
import csv
import matplotlib.pyplot as plt
import os
import sys
import numpy as np

In [23]:
#Read in CSV file with Price data per month
csv_price = 'Consumer_Price_index_Potatoes10yrs.csv'
price_df = pd.read_csv(csv_price)
price_df.head(3)

   Year Month  Price
0  2009   Jan  0.676
1  2009   Feb  0.660
2  2009   Mar  0.652

In [27]:
#Normalizing for potato price inflation
url = 'http://www.in2013dollars.com/Potatoes/price-inflation'

#extract all tables into a list
tables = pd.read_html(url)

#save 2nd table from list in to dataframe
potato_inflation_df = tables[1]

potato_inflation_df

    Year USD Value Inflation Rate
0   2000    $20.00          1.68%
1   2001    $20.61          3.05%
2   2002    $24.29         17.86%
3   2003    $23.23         -4.36%
4   2004    $23.54          1.32%
5   2005    $25.23          7.20%
6   2006    $27.82         10.26%
7   2007    $28.57          2.67%
8   2008    $33.07         15.76%
9   2009    $32.44         -1.89%
10  2010    $30.76         -5.19%
11  2011    $34.48         12.09%
12  2012    $32.64         -5.33%
13  2013    $32.85          0.65%
14  2014    $33.62          2.33%
15  2015    $33.30         -0.95%
16  2016    $33.92          1.87%
17  2017    $34.52          1.75%
18  2018    $34.81          0.84%
19  2019    $36.18         3.94%*

In [28]:
Price_inflation_df = pd.merge(price_df, potato_inflation_df, on='Year')
Price_inflation_df

     Year Month  Price USD Value Inflation Rate
0    2009   Jan  0.676    $32.44         -1.89%
1    2009   Feb  0.660    $32.44         -1.89%
2    2009   Mar  0.652    $32.44         -1.89%
3    2009   Apr  0.620    $32.44         -1.89%
4    2009   May  0.616    $32.44         -1.89%
5    2009   Jun  0.634    $32.44         -1.89%
6    2009   Jul  0.641    $32.44         -1.89%
7    2009   Aug  0.638    $32.44         -1.89%
8    2009   Sep  0.612    $32.44         -1.89%
9    2009   Oct  0.592    $32.44         -1.89%
10   2009   Nov  0.561    $32.44         -1.89%
11   2009   Dec  0.560    $32.44         -1.89%
12   2010   Jan  0.563    $30.76         -5.19%
13   2010   Feb  0.555    $30.76         -5.19%
14   2010   Mar  0.557    $30.76         -5.19%
15   2010   Apr  0.553    $30.76         -5.19%
16   2010   May  0.571    $30.76         -5.19%
17   2010   Jun  0.585    $30.76         -5.19%
18   2010   Jul  0.593    $30.76         -5.19%
19   2010   Aug  0.621    $30.76         -5.19%
20   2010   Sep  0.597    $30.76         -5.19%
21   2010   Oct  0.579    $30.76         -5.19%
22   2010   Nov  0.568    $30.76         -5.19%
23   2010   Dec  0.582    $30.76         -5.19%
24   2011   Jan  0.603    $34.48         12.09%
25   2011   Feb  0.611    $34.48         12.09%
26   2011   Mar  0.636    $34.48         12.09%
27   2011   Apr  0.653    $34.48         12.09%
28   2011   May  0.693    $34.48         12.09%
29   2011   Jun  0.685    $34.48         12.09%
..    ...   ...    ...       ...            ...
90   2016   Jul  0.699    $33.92          1.87%
91   2016   Aug  0.711    $33.92          1.87%
92   2016   Sep  0.702    $33.92          1.87%
93   2016   Oct  0.691    $33.92          1.87%
94   2016   Nov  0.697    $33.92          1.87%
95   2016   Dec  0.686    $33.92          1.87%
96   2017   Jan  0.696    $34.52          1.75%
97   2017   Feb  0.703    $34.52          1.75%
98   2017   Mar  0.689    $34.52          1.75%
99   2017   Apr  0.698    $34.52          1.75%
100  2017   May  0.706    $34.52          1.75%
101  2017   Jun  0.733    $34.52          1.75%
102  2017   Jul  0.752    $34.52          1.75%
103  2017   Aug  0.750    $34.52          1.75%
104  2017   Sep  0.745    $34.52          1.75%
105  2017   Oct  0.748    $34.52          1.75%
106  2017   Nov  0.733    $34.52          1.75%
107  2017   Dec  0.731    $34.52          1.75%
108  2018   Jan  0.730    $34.81          0.84%
109  2018   Feb  0.736    $34.81          0.84%
110  2018   Mar  0.727    $34.81          0.84%
111  2018   Apr  0.728    $34.81          0.84%
112  2018   May  0.739    $34.81          0.84%
113  2018   Jun  0.744    $34.81          0.84%
114  2018   Jul  0.765    $34.81          0.84%
115  2018   Aug  0.768    $34.81          0.84%
116  2018   Sep  0.750    $34.81          0.84%
117  2018   Oct  0.746    $34.81          0.84%
118  2018   Nov  0.725    $34.81          0.84%
119  2018   Dec  0.718    $34.81          0.84%

[120 rows x 5 columns]

In [29]:
Price_inflation_df.to_csv('Price_inflation.csv')