In [25]:
import csv

import requests
from datetime import datetime
import pandas as pd
from api_keys import api_key
import requests
import json

In [10]:
longitude = -114.7420
latitude = 44.0682
all_data= []
p = +1


for b in range (1,11):
        
        for a in range (1, 10):
            month_day = f'2017-0{b}-0{a}T12:00:00'
            idaho = f'https://api.darksky.net/forecast/{api_key}/{latitude},{longitude},{month_day}'
            response = requests.get(idaho).json()
            timeA = response["currently"]['time']
            temp = response["currently"]['temperature']
            t_t = {"Date": timeA, "Temp" : temp}
            all_data.append(t_t )
            print(timeA,temp)
        for a in range (10, 28):
            month_day = f'2017-0{b}-{a}T12:00:00'
            idaho = f'https://api.darksky.net/forecast/{api_key}/{latitude},{longitude},{month_day}'
            response = requests.get(idaho).json()
            timeA = response["currently"]['time']
            temp = response["currently"]['temperature']
            t_t = {"Date": timeA, "Temp" : temp}
            all_data.append(t_t )
            print(timeA,temp)

1483297200 13.52
1483383600 9.12
1483470000 9.19
1483556400 12.54
1483642800 -6.59
1483729200 1.93
1483815600 3.48
1483902000 27.73
1483988400 27.1
1484074800 21.5
1484161200 26.61
1484247600 11.63
1484334000 11.49
1484420400 13.14
1484506800 17.77
1484593200 17.47
1484679600 32.18
1484766000 27.33
1484852400 27.92
1484938800 22.86
1485025200 23.39
1485111600 22.46
1485198000 15.32
1485284400 18.14
1485370800 12.81
1485975600 25.83
1486062000 24.67
1486148400 29.18
1486234800 29.96
1486321200 29.81
1486407600 29
1486494000 24.66
1486580400 31.66
1486666800 35.18
1486753200 32.14
1486839600 24.39
1486926000 21.39
1487012400 27.6
1487098800 31.11
1487185200 39.66
1487271600 33.27
1487358000 29.83
1487444400 32.02
1487530800 30.43
1487617200 31.41
1487703600 29.45
1487790000 24.2
1487876400 20.87
1487962800 18.61
1488049200 14.63
1488394800 25.67
1488481200 28.6
1488567600 37.7
1488654000 28.66
1488740400 23.87
1488826800 18.38
1488913200 25.81
1488999600 32.56
1489086000 39.02
1489172400 39.48
1489258800 37.25
1489341600 36.12
1489428000 39.3
1489514400 45.23
1489600800 45.01
1489687200 35.6
1489773600 41.48
1489860000 47.47
1489946400 37.8
1490032800 40.97
1490119200 43.12
1490205600 34.74
1490292000 34.69
1490378400 36.83
1490464800 33.39
1491069600 41.35
1491156000 41.36
1491242400 28.09
1491328800 31.13
1491415200 41.41
1491501600 40.31
1491588000 34.8
1491674400 29.43
1491760800 26.51
1491847200 30.48
1491933600 34.9
1492020000 43.67
1492106400 34.46
1492192800 29.94
1492279200 32.92
1492365600 42.28
1492452000 36.64
1492538400 39.06
1492624800 38.96
1492711200 37.23
1492797600 36.6
1492884000 41.22
1492970400 38.4
1493056800 34.13
1493143200 40.28
1493661600 44.61
1493748000 43.76
1493834400 51.39
1493920800 58.4
1494007200 59.84
1494093600 52.72
1494180000 47.05
1494266400 49.28
1494352800 54.02
1494439200 58
1494525600 61.59
1494612000 52.05
1494698400 35.47
1494784800 39.94
1494871200 44.79
1494957600 37.1
1495044000 27.24
1495130400 38.65
1495216800 46.72
1495303200 50.22
1495389600 51.8
1495476000 58.26
1495562400 61.21
1495648800 55.25
1495735200 45.02
1496340000 55.74
1496426400 54.38
1496512800 62.31
1496599200 67.41
1496685600 53.21
1496772000 62.53
1496858400 70.37
1496944800 63.24
1497031200 50.23
1497117600 35.93
1497204000 50.4
1497290400 40.17
1497376800 37.75
1497463200 52.13
1497549600 53.71
1497636000 49.34
1497722400 53.54
1497808800 59.11
1497895200 67.32
1497981600 71.65
1498068000 68.95
1498154400 60.82
1498240800 60.49
1498327200 65.33
1498413600 69.31
1498932000 68.21
1499018400 70.32
1499104800 72.16
1499191200 71.77
1499277600 77.17
1499364000 75.17
1499450400 74.81
1499536800 77.74
1499623200 72.99
1499709600 72.13
1499796000 66.65
1499882400 67.97
1499968800 74.37
1500055200 72.54
1500141600 77.53
1500228000 71.01
1500314400 68.9
1500400800 71.19
1500487200 71.84
1500573600 70.99
1500660000 68.06
1500746400 69.48
1500832800 73.23
1500919200 67.03
1501005600 61.22
1501610400 74.64
1501696800 75.27
1501783200 71.86
1501869600 73.51
1501956000 69.81
1502042400 67.44
1502128800 62.82
1502215200 64.94
1502301600 66.16
1502388000 65.93
1502474400 67.21
1502560800 66.88
1502647200 65.23
1502733600 54.84
1502820000 60.33
1502906400 64
1502992800 65.14
1503079200 66.99
1503165600 66.94
1503252000 65.51
1503338400 54.86
1503424800 69.32
1503511200 61.83
1503597600 62.29
1503684000 67.75
1504288800 66.7
1504375200 72.52
1504461600 75.44
1504548000 74.88
1504634400 68.89
1504720800 68.11
1504807200 70.7
1504893600 68.54
1504980000 65.43
1505066400 64.01
1505152800 67.03
1505239200 68.38
1505325600 59.82
1505412000 53.18
1505498400 36.29
1505584800 39.6
1505671200 49.55
1505757600 41.43
1505844000 33.17
1505930400 34.7
1506016800 33.26
1506103200 35.19
1506189600 35.92
1506276000 38.31
1506362400 41.46

KeyError: 'currently'

In [23]:
df = pd.DataFrame(all_data)

In [24]:

df

           Date   Temp
0    1483297200  13.52
1    1483383600   9.12
2    1483470000   9.19
3    1483556400  12.54
4    1483642800  -6.59
5    1483729200   1.93
6    1483815600   3.48
7    1483902000  27.73
8    1483988400  27.10
9    1484074800  21.50
10   1484161200  26.61
11   1484247600  11.63
12   1484334000  11.49
13   1484420400  13.14
14   1484506800  17.77
15   1484593200  17.47
16   1484679600  32.18
17   1484766000  27.33
18   1484852400  27.92
19   1484938800  22.86
20   1485025200  23.39
21   1485111600  22.46
22   1485198000  15.32
23   1485284400  18.14
24   1485370800  12.81
25   1485975600  25.83
26   1486062000  24.67
27   1486148400  29.18
28   1486234800  29.96
29   1486321200  29.81
..          ...    ...
195  1503338400  54.86
196  1503424800  69.32
197  1503511200  61.83
198  1503597600  62.29
199  1503684000  67.75
200  1504288800  66.70
201  1504375200  72.52
202  1504461600  75.44
203  1504548000  74.88
204  1504634400  68.89
205  1504720800  68.11
206  1504807200  70.70
207  1504893600  68.54
208  1504980000  65.43
209  1505066400  64.01
210  1505152800  67.03
211  1505239200  68.38
212  1505325600  59.82
213  1505412000  53.18
214  1505498400  36.29
215  1505584800  39.60
216  1505671200  49.55
217  1505757600  41.43
218  1505844000  33.17
219  1505930400  34.70
220  1506016800  33.26
221  1506103200  35.19
222  1506189600  35.92
223  1506276000  38.31
224  1506362400  41.46

[225 rows x 2 columns]

In [28]:
df['Date'] = pd.to_datetime(df['Date'],unit='s')
df

                   Date   Temp
0   2017-01-01 19:00:00  13.52
1   2017-01-02 19:00:00   9.12
2   2017-01-03 19:00:00   9.19
3   2017-01-04 19:00:00  12.54
4   2017-01-05 19:00:00  -6.59
5   2017-01-06 19:00:00   1.93
6   2017-01-07 19:00:00   3.48
7   2017-01-08 19:00:00  27.73
8   2017-01-09 19:00:00  27.10
9   2017-01-10 19:00:00  21.50
10  2017-01-11 19:00:00  26.61
11  2017-01-12 19:00:00  11.63
12  2017-01-13 19:00:00  11.49
13  2017-01-14 19:00:00  13.14
14  2017-01-15 19:00:00  17.77
15  2017-01-16 19:00:00  17.47
16  2017-01-17 19:00:00  32.18
17  2017-01-18 19:00:00  27.33
18  2017-01-19 19:00:00  27.92
19  2017-01-20 19:00:00  22.86
20  2017-01-21 19:00:00  23.39
21  2017-01-22 19:00:00  22.46
22  2017-01-23 19:00:00  15.32
23  2017-01-24 19:00:00  18.14
24  2017-01-25 19:00:00  12.81
25  2017-02-01 19:00:00  25.83
26  2017-02-02 19:00:00  24.67
27  2017-02-03 19:00:00  29.18
28  2017-02-04 19:00:00  29.96
29  2017-02-05 19:00:00  29.81
..                  ...    ...
195 2017-08-21 18:00:00  54.86
196 2017-08-22 18:00:00  69.32
197 2017-08-23 18:00:00  61.83
198 2017-08-24 18:00:00  62.29
199 2017-08-25 18:00:00  67.75
200 2017-09-01 18:00:00  66.70
201 2017-09-02 18:00:00  72.52
202 2017-09-03 18:00:00  75.44
203 2017-09-04 18:00:00  74.88
204 2017-09-05 18:00:00  68.89
205 2017-09-06 18:00:00  68.11
206 2017-09-07 18:00:00  70.70
207 2017-09-08 18:00:00  68.54
208 2017-09-09 18:00:00  65.43
209 2017-09-10 18:00:00  64.01
210 2017-09-11 18:00:00  67.03
211 2017-09-12 18:00:00  68.38
212 2017-09-13 18:00:00  59.82
213 2017-09-14 18:00:00  53.18
214 2017-09-15 18:00:00  36.29
215 2017-09-16 18:00:00  39.60
216 2017-09-17 18:00:00  49.55
217 2017-09-18 18:00:00  41.43
218 2017-09-19 18:00:00  33.17
219 2017-09-20 18:00:00  34.70
220 2017-09-21 18:00:00  33.26
221 2017-09-22 18:00:00  35.19
222 2017-09-23 18:00:00  35.92
223 2017-09-24 18:00:00  38.31
224 2017-09-25 18:00:00  41.46

[225 rows x 2 columns]

In [33]:
export_csv = df.to_csv(r"C:\Users\BWayn\Desktop\Rice-BootCamp\ETL_Project\ETL_Project\2017_Idaho_weather_data.csv ", index = None, header=True)